body {
    margin: 80px;
}

#contenedor {
    background-color: gray;
    width: 80%;
    height: 90%;
}

.cuadro {
    display: flex;

}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}

h2 {
    background-color: rgb(77, 72, 72);
    margin-bottom: 5%;
    padding-left: 5%;
}

.color {
    color: red;
}

.sombra {
    background-color: white;
}

img {
    width: 300px;
    height: 250px;
}