body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(152, 149, 149);
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

header{
    position: absolute;
    background: rgb(0, 0, 0) url(img/imagencabecera.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#Headboard {
    background-position-x: -20%;
    font-family:  'Water Brush', cursive;
    min-height: 450px;
    color: #020000;
    text-align: center;
  }
  h1{
      font-size:xx-large;
      font-size: 100px;
      margin: 50px;
      padding: 0%;
  }
  p {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:xx-large;
      font-size: 15px;
  }