body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(152, 149, 149);
    color: rgb(5, 0, 0);
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

#Headboard .headpag {
    position: absolute;
    background: #333 url(img/imagencabecera.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 100px;
    margin: 50px;
    padding: 0%;
}

#Headboard {
    background-position-x: -20%;
    font-family:  'Water Brush', cursive;
    min-height: 450px;
    color: #020000;
    text-align: center;
    padding: auto;
}
  
#Headboard p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    font-size: 15px;
}

table {
    border: #020000;
}

.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

.contentwrap {
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
}

main {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
    width: 31%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}